<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <form action="/adminUpdate" method="post">
        <label for="id">id: </label>
        <input type="number" name="productID">
        <label for="name">name: </label>
        <input type="text" name="productName">
        <label for="price">price: </label>
        <input type="number" name="productPrice">
        <button type="submit">Submit</button>
    </form>
</body>
</html>