{% extends "mainTemplate.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% for i in randomProducts %}
        <div class="row p-4 justify-content-evenly">
            {% for item in i %}
                <div class="{{columnKey[i|length]}} my-2">
                    <div class="card bg-light-primary m-auto">
                        <a href="{{ url_for('Product',productID=item['productID']) }}" class="text-decoration-none text-center">
                            <img src="{{ url_for('static', filename='images/' + item['productImageName']) }}" class="card-img-top w-50 m-auto optimisedCardImage" alt="...">
                            <div class="card-body text-center">
                                <p class="card-text cardText">{{item["productName"]}} $ {{item["productPrice"]}}</p>
                            </div>
                        </a>
                    </div>
                </div>            
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}