{% extends "mainTemplate.html" %}

{% block title %}
    {{product["productName"]}}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-8 my-2">
            <a href="{{ url_for('Product',productID=product['productID']) }}" class="text-decoration-none">
                <div class="card cardDiv m-auto">
                    <img src="/productImage/{{product['productID']}}" class="card-img-top w-50 m-auto cardImage" alt="...">
                    <div class="card-body text-center">
                        <p class="card-text cardText">{{product["productName"]}} $ {{product["productPrice"]}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}