<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Sahara | Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg primaryHeader sticky-top">
        <div class="w-40 d-flex flex-row">
            <a class="navbar-brand" id="saharaHeader" href="{{ url_for('Home') }}">Sahara</a>
        </div>
        <div class="w-60 d-flex flex-row-reverse">
            <form class="form-inline my-2 my-lg-0 position-relative" id="searchBar" autocomplete="off">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="searchForm">
                <div class="bg-light-cust rounded position-absolute w-110 text-center" id="searchResultDiv"></div>
            </form>
            <button href="" class="mx-auto my-auto rounded btn btn-sahara" id="cartLink">Cart</button>
        </div>
    </nav>
    <div class="position-absolute bg-light bottom-0 start-50 text-center translate-middle p-2">
        <p id="cartStatusText">Added To Cart</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>