:root {
    --baseBackgroundColor: #bccbde;
    --lightBackgroundColor: #e5dfe0;
    --lightPrimary: #d38554;
    --mediumPrimary: #9D4F2E;
    --darkPrimary: #573529;

    --textPrimary: #1c110d;
}

body {
    background-color: var(--baseBackgroundColor);
    color: var(--textPrimary);
}

.primaryHeader {
    background-color: var(--lightBackgroundColor);
}
#saharaHeader {
    cursor: pointer;
    font-weight: bolder;
    font-size: calc(1.5vh + 2.5vw);
    color: var(--textPrimary);
    margin-left: 2%;
}
#saharaHeader:hover {
    filter: brightness(225%);
}
.w-30 {
    width: 30%;
}
.cardText {
    font-size: calc(2vw + 0.9vh);
    font-weight: bold;
}
.optimisedCardImage {
    padding-top: 2%;
    object-fit: cover;
    height: calc(6vw + 8vh);
}
.cardDiv {
    background-color: var(--lightPrimary);
}