:root {
    --baseBackgroundColor: #bccbde;
    --lightBackgroundColor: #e5dfe0;
    --lightPrimary: #d38554;
    --mediumPrimary: #9D4F2E;
    --darkPrimary: #573529;

    --textPrimary: #1c110d;
}

body {
    background-color: var(--baseBackgroundColor);
    color: var(--textPrimary);
    overflow-x: hidden;
}

.primaryHeader {
    background-color: var(--lightBackgroundColor);
}
#saharaHeader {
    cursor: pointer;
    font-weight: bolder;
    font-size: calc(1.5vh + 2.5vw);
    color: var(--textPrimary);
    margin-left: 5%;
}
#saharaHeader:hover {
    filter: brightness(225%);
}
#searchBar {
    margin-right: 5%;
    width: 40%;
    float: right;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-20 {
    width: 20%;
}
.w-80 {
    width: 80%;
}
.w-60 {
    width: 60%;
}
.w-100 {
    width: 100%;
}
.w-110 {
    width: 110%;
}
.fit-content {
    width: fit-content;
}
.cardText {
    font-size: calc(2vw + 0.9vh);
    font-weight: bold;
    color: var(--textPrimary);
}
.optimisedCardImage {
    padding-top: 2%;
    object-fit: cover;
    height: calc(6vw + 8vh);
}
.cardImage {
    padding-top: 2%;
    object-fit: cover;
}
.cardDiv {
    background-color: var(--lightPrimary);
}
#searchResultDiv {
    left: 50%;
    transform: translate(-50%);
}
.searchCardText {
    font-size: calc(0.5vw + 0.9vh);
    font-weight: bold;
    color: var(--textPrimary);
}
.bg-light-cust {
    background-color: var(--lightBackgroundColor);
}